.work {
  padding: 20px;
  display: flex;
  position: relative;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  width: 100vw !important;
  max-width: none !important;

  /* Box Pattern */
  opacity: 0.8;
  background-image: linear-gradient(#333333 1px, transparent 1px),
    linear-gradient(to right, #333333 1px, var(--background) 1px);
  background-size: 40px 40px;
}

.work h2 {
  margin: 0;
  top: 30px;
  z-index: 5;
  left: 30px;
  font-size: 6rem;
  position: absolute;
  box-sizing: border-box;
}

.work-item {
  left: 0;
  z-index: 1;
  width: 95%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.work-item .container {
  gap: 10px;
  padding: 20px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  border: 1px solid var(--primary);
  background: var(--background-secondary);
}

.work-item-content {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.work-item a {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
}

.work-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .work {
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .work-item-content {
    gap: 10px;
  }

  .work-item {
    top: 20%;
    height: auto;
    margin-left: 1.5%;
  }

  .work-item .container {
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .work-item img {
    width: 105%;
    height: auto;
    border-radius: 20px;
    margin-bottom: -40px;
    border: 2px solid var(--primary);
  }
}
