.hero {
  padding: 20px;
  /* background */
  opacity: 0.8;
  box-sizing: border-box;
  background-color: var(--background);
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      var(--background) 15px
    ),
    repeating-linear-gradient(transparent, var(--primary));
}

.hero-links {
  gap: 10px;
  display: flex;
  margin-top: 20px;
}

.hero-links a {
  gap: 8px;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  align-items: center;
  border-radius: 30px;
  color: var(--text-color);
  background: var(--foreground);
}

.hero-links a:hover {
  background: var(--background-secondary);
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  .hero {
  }
}
